html{
    scroll-behavior: smooth;
    
}
::-webkit-scrollbar {
    width: 15px;
  }

::-webkit-scrollbar-track {
    background: #f8f9fa;
  }

::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
body{
    background-image: rgba(0,0,0,1);

    background-image: linear-gradient(0deg, rgba(0,0,0,1) 17%, rgba(190,0,0,1) 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment:fixed;
}
h1, h2, section p{
    text-shadow:0px 0px 7px rgba(0, 0, 0, 0.7);
}
.card p{
    text-shadow: none;
}
.poster{
    margin-left:13vw;
}

@media (max-width:992px) {
    .poster{
        margin-left:0vw;
    }
}
@media (max-width: 500px) {
    strong{
        font-size: 0.78em;
    }
    body{
        background-size: 100% 100%;
    }
    main{
        margin-top: 6vw;
    }
}
