body {
  background-image: linear-gradient(0deg, rgba(18, 18, 18, 1) 0%, rgba(18, 18, 18, 1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100vh;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #f8f9fa;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

.main {
  margin-top: 15vh;
}

.cover-phone{
  display: none;
}
.cover-default{
  display: block;
}

#carouselIndicatorsH{
  display: block;
}

#carouselIndicatorsV{
  display: none;
}


@media (max-width: 766px) {
  strong {
    font-size: 0.78em;
  }

  main {
    margin-top: 6vw;
  }

  .imgMe {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2vw;
    margin-bottom: 3vw;
  }

  body{
    background-size: 100% 100%;
  }

  .cover-phone{
    display: block;
  }
  .cover-default{
    display: none;
  }

  #carouselIndicatorsH{
    display: none;
  }
  
  #carouselIndicatorsV{
    display: block;
  }
}