.imageContainer {
  position: relative;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(85, 85, 85, 0.3);
  backdrop-filter: blur(6px);
  border-radius: 6px;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: rgb(47, 47, 47) 1px 0 10px;
}

.imageContainer:hover .overlay {
  opacity: 1;
}