.imageContainer {
  position: relative;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(85, 85, 85, 0.3);
  backdrop-filter: blur(6px);
  border-radius: 6px;
}

.overlayImg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;

}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow:0px 0px 7px rgba(0, 0, 0, 0.7);
}

@keyframes show-and-hide {
  0% { opacity: 0; }

  35%{ opacity: 0; }

  50%{ opacity: 1; }

  85%{ opacity: 1; }

  100% { opacity: 0; }
}

.imageContainer:hover .overlay {
  opacity: 1;
}
 .overlayImg {
  animation: show-and-hide 15s;
  animation-iteration-count: infinite;
}