body {
  background-image: linear-gradient(0deg, rgba(250, 254, 225, 1) 20%, rgba(132, 173, 147, 1) 100%), linear-gradient(0deg, rgba(250, 254, 225, 1) 0%, rgba(250, 254, 225, 1) 100%);;
  background-repeat: no-repeat, no-repeat;
  background-position: top, bottom;
  background-attachment:fixed, scroll;
  background-size: 100% 100vh, 100% 100%;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #f8f9fa;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

h1,
h2 {
  text-shadow:0px 0px 7px rgba(0, 0, 0, 0.7);
  /*text-shadow: rgba(255, 255, 255, 0.75) 1px 0 10px;*/
}

section p {
  text-shadow: rgb(255, 255, 255, 0.8) 0px 0 7px;
}

.card p {
  text-shadow: none;
}

@media (max-width: 500px) {
  strong {
    font-size: 0.78em;
  }

  main {
    margin-top: 6vw;
  }

  main .logo {
    padding-top: 3vw;
  }
}