html{
    cursor: url(mouse/defult.png)35 35,auto;
    background-image:url(images/image1&6/background1.jpg);
    color: #ffffff;
    background-repeat: no-repeat;
    background-size:100% 100vh;
    background-attachment: fixed;
    scroll-behavior:smooth;
}
html::-webkit-scrollbar{
    display:none;
}
body{
    animation: fade-in 2s;
}
@keyframes fade-in {
    0% { opacity: 0; }

    100% { opacity: 1; }
}
@media (max-width: 1280px) {
    html{
        background-image:url(images/vertical-Backgound/1&6.png);
        background-size:100% 100%;
    }
}
#image1{
    width: 20%;
    min-width: 15%;
    margin-left: 43%;
    margin-right: auto;
    margin-top: 6%;
    margin-bottom: 10%;
}
p{
    color: black;
    text-align: center;
    display: block;
    font-family:fantasy;
    font-size:2vw;
}
p span{
    color: rgb(169, 15, 15);
}
a{
    text-decoration: none;
    color: black;
}
#start{
    position:relative; 
    top: -8vw;
    border-radius: 2em;
    border: double;
    margin-left: 15em;
    margin-right: 15em;
    padding: 0.4em;  
}
#start:hover{
    cursor: url(mouse/select.png)35 35, auto;
    background-color: rgba(145, 137, 130, 0.689);
    box-sizing: border-box;
    box-shadow:0 0 25px 3px #222222b7;
    transition: background-color 1s,
                box-shadow 1s;
}
#start:active{
    cursor: url(mouse/click.png)35 35, auto;
}
#p1{
    position:relative; 
    top: -8vw;
    margin-left: 13em;
    margin-right: 13em;
    padding: 0.2em;
    border-radius: 2em;
    backdrop-filter: blur(5px);
}
#p1 span:hover{
    cursor: url(mouse/select.png)35 35, auto;
}
@media (max-width: 1080px) {
    #image1{
        width: 40%;
        margin-left: 35%;
        margin-top: 20%;
    }
    #start{
        margin-left: 3em;
        margin-right: 3em; 
    }
    p{
        font-size:2.4em;
    }
    #p1{
        margin-left: 3em;
        margin-right: 3em;
        padding: 0.2em;
    }
}
@media (prefers-reduced-motion: reduce){
    html{
        animation:none;
    }
    #start:hover{
        transition: none;
    }
  }